[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/swagger-ui"]
	path = external/swagger-ui
	url = https://github.com/swagger-api/swagger-ui.git
